body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul#reading-list {
  list-style-type: none;
  padding: 0;
}

li.book {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;

}

li.book img {
  width: 100px;
  height: 150px;
  margin-right: 20px;
}

li.book p {
  margin: 0;
  font-weight: bold;
}