@font-face {
  font-family: myFirstFont;
  src: url("./DS-DIGI.TTF");
}

body {
  background-image: url("./AlarmPageBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
}

.container {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  padding: 5em;
  border-radius: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 80px;
  font-family: myFirstFont;
  letter-spacing: 4px;
}

input[type=number] {
  height: 40px;
  border: none;
  border-radius: 4px;
}

.setAlarm {
  text-align: center;
}

#set,
#stop {
  width: 50%;
  height: 40px;
}